.pulse{
    width: 40px;
    height: 40px;
    background: #ef0b0b;
    border-radius: 50%;
    color:#fff;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 0 0 rgba(232,23,23,0.7), 0 0 0 0 rgba(232,23,23,0.7);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(232,23,23,0), 0 0 0 0 rgba(232,23,23,0.7);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(232,23,23,0), 0 0 0 30px rgba(232,23,23,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(232,23,23,0), 0 0 0 30px rgba(232,23,23,0);
    }

}