.main{
    background-color: #222;
    position:relative;
    width:100%;
    height:100%;
}


.box{
    background-color: #222;
    position:relative;
    width:100%;
    height:100%;
}

.side-out{
    animation: sideOut 2s;
    transform-origin: left 100%;
}

.column{
    position :relative;
    width:20%;
    float: left;
    height: 600px;
    z-index: 999;
}

.grayA{
    background-color : #222;
}

.grayB{
    background-color : #555;
}

.grayC{
    background-color : #444;
}

.grayD{
    background-color : #333;
}


@keyframes sideOut {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}

.icons{
    color: #fff;
    padding: 20px;
    margin: auto;
    margin: 20px;
    display:inline-block !important;
}


.delay-03 {-webkit-animation-delay: 0.3s;}

.delay-1 {-webkit-animation-delay: 0.5s;}


